<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Hello, World!</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	</head>
	<body>
		<form action="." method = "POST">
		  Street:<br>
		  <input type="text" name="ticker">
		  <br>
		  <br><br>
			City:<br>
			<input type="text" name="ticker">
			<br>
			<br><br>
			Zipcode:<br>
			<input type="text" name="ticker">
			<br>
			<br><br>
			Stock Ticker:<br>
			<input type="text" name="ticker">
			<br>
			<br><br>
			Stock Ticker:<br>
			<input type="text" name="ticker">
			<br>
			<br><br>
			Stock Ticker:<br>
			<input type="text" name="ticker">
			<br>
			<br><br>
		  <input type="submit" name="my-form" value="Submit">
		</form>
	</body>
</html>
